<template>
  <div class="p-2 mb-4 container is-desktop box wrapper-add-note" :class="`${props.cardColor}`">
    <p class="has-text-right text-white p-0 m-0">
      <!-- {{ props.newNote ? props.newNote.length : "0" }} characters -->
      {{ countChars ? countChars : "0" }} Characters
    </p>
    <label for="noteContent" class="label has-text-white" v-if="props.label">
      {{ props.label }}
    </label>
    <div class="progress my-1">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated m-0 p-0 bg-secondary"
        role="progressbar"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="150"
        :style="`width: ${countChars ? countChars / 1.5 : '0'}%`"></div>
    </div>
    <textarea
      :value="props.newNote"
      @input="emitComp('update:newNote', $event)"
      class="textarea"
      placeholder="Add new note"
      ref="newNoteRef"
      name="noteContent"
      maxlength="150"></textarea>
    <input
      type="text"
      class="input my-1"
      placeholder="Author (optional)"
      :value="props.newAuthor"
      @input="$emit('update:newAuthor', $event.target.value)" />
    <div class="has-text-right">
      <!-- <button class="button is-warning is-light mt-2 mx-2">Hide</button> -->
      <slot name="button"></slot>
      <!-- <button class="button mt-2" >Add Note</button> -->
    </div>
  </div>
</template>

<script setup>
import { ref, computed, toRef } from "vue";

// import { computed } from "vue";

// const emit = defineEmits([]);
const props = defineProps({
  newNote: { type: String, require: true },
  newAuthor: { type: String },
  cardColor: { type: String, default: "has-background-link" },
  label: { type: String },
});

const newNoteRef = ref(null);

const emit = defineEmits(["update:newNote", "update:newAuthor"]);

const emitComp = function (emitElement, el) {
  emit(emitElement, el.target.value);
};

const focusTextarea = function () {
  newNoteRef.value.focus();
};

const countChars = computed(() => {
  return props.newNote?.length;
});

// bcs watch method need to recieve a ref I can't pass newNote prop to it in this component but it is easier to implement this in viewNotes.vue component
import { useWatchCharacters } from "@/use/useWatchCharacters.js";

const propConvertedToRef_newNote = toRef(props, "newNote");
useWatchCharacters(propConvertedToRef_newNote, 150);

defineExpose({
  focusTextarea,
});

// const props = defineProps({
//   newNote: {
//     type: String,
//     required: true,
//   },
// });

// const emits = defineEmits(["update:newNote"]);
</script>

<style lang="scss"></style>
