<template>
  <div class="stats">
    <caption>
      Stats
    </caption>
    <table class="table">
      <thead>
        <tr>
          <th>Stat</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Notes</td>
          <td>{{ storeNotes.totalNotes }}</td>
        </tr>
        <tr>
          <td>Number of Characters (of all Notes)</td>
          <td>{{ storeNotes.totalCharacters }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import { useStoreNotes } from "@/stores/counter.js";

const storeNotes = useStoreNotes();
</script>

<style></style>
