<template>
  <div class="notes">
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->

    <!-- show add note button -->
    <!-- <button
      class="show-add-note is-background-light"
      v-if="!isVisible"
      @click="isVisible = true"
    >
      +
    </button> -->

    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->

    <!-- add note card : using same component for add and edit note -->

    <div class="box pt-4 pb-5">
      <p>quote: {{ newNote }}</p>
      <small style="float: right">author: #{{ author }}</small>
    </div>

    <AddEditNote
      v-model:newNote="newNote"
      v-model:newAuthor="author"
      card-color="has-background-dark"
      ref="addNewNote"
    >
      <template v-slot:button>
        <button
          class="button mt-2"
          v-on:click="addNote"
          v-bind:disabled="!newNote"
        >
          Add New Note
        </button>
      </template>
    </AddEditNote>

    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->

    <!-- add-note card : without using same component for add and edit note -->

    <!-- <div
      v-if="isVisible"
      class="p-5 mb-4 container is-desktop box wrapper-add-note has-background-dark"
    >
      <textarea
        class="textarea"
        placeholder="Add new note"
        v-model.trim="newNote"
        ref="newNoteRef"
        name="noteContent"
      >
      </textarea>
      <input
        type="text"
        class="input my-1"
        placeholder="Author (optional)"
        v-model="author"
      />
      <div class="has-text-right">
        <button
          class="button is-warning is-light mt-2 mx-2"
          @click="isVisible = false"
        >
          Hide
        </button>
        <button
          class="button mt-2"
          v-on:click="addNote"
          v-bind:disabled="!newNote"
        >
          Add Note
        </button>
      </div>
    </div> -->

    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->

    <!-- card : without using pinia -->

    <!-- <div
      class="card mb-4 container is-desktop"
      v-for="note in reversedNotes"
      :key="note.id"
    >
      <ShowNotes :note="note" @delete-note="deleteNote"></ShowNotes>
    </div> -->

    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->

    <!-- show card using pinia  -->

    <ShowNotes></ShowNotes>
  </div>
</template>

<script setup>
// imports
import ShowNotes from "@/components/note/ShowNotes.vue";
import AddEditNote from "@/components/note/AddEditNote.vue";

import { useStoreNotes } from "@/stores/counter.js";
import { ref, computed, watch } from "vue";

// refs

const storeNotes = useStoreNotes();
const newNote = ref(null);
const author = ref("");
let notes = ref([]);
const addNewNote = ref(null);
// const newNoteRef = ref(null);
// let isVisible = ref(true);

// methods

const addNote = function () {
  // // without using pinia
  // const uid = Math.random().toString(36).slice(3);
  // let note = { id: uid, content: newNote.value, author: author.value };
  // newNote.value = "";
  // author.value = "";
  // notes.value.push(note);
  // newNoteRef.value.focus();

  // using pinia
  storeNotes.addNote(newNote.value, author.value);
  newNote.value = "";
  author.value = "";
  addNewNote.value.focusTextarea();
};

// const reversedNotes = computed(() => {
//   const reversedNotes = notes.value.slice().reverse();
//   return reversedNotes;
// });

// const deleteNote = function (id, el) {
//   // const delNoteIndex = notes.value.findIndex((note) => {
//   //   return note.id === id;
//   // });
//   // notes.value.splice(delNoteIndex, 1);

//   notes.value = notes.value.filter((note) => {
//     return note.id !== id;
//   });

//   el.target.closest(".card").remove();
// };

// watchers

// watch(newNote, (newValue, oldValue) => {
//   if (newValue.length === 100) {
//     alert("You Can not type more than 100 leters");
//   }
// });

// import { useWatchCharacters } from "@/use/useWatchCharacters";
// useWatchCharacters(newNote, 10);
</script>

<style scoped>
.show-add-note {
  font-size: 35px;
  position: fixed;
  left: 15px;
  bottom: 15px;
  padding: 5px 17px 10px 17px;
  border-radius: 9999px;
  /* background-color: greenyellow; */
}
</style>
