<template>
  <header class="has-background-dark">
    <div class="wrapper">
      <NavBar></NavBar>
    </div>
  </header>

  <div class="main-wrapper has-background-light">
    <RouterView></RouterView>
    <!-- <router-view v-slot="{ Component }">
      <keep-alive>
        <component :is="Component" />
      </keep-alive>
    </router-view> -->
  </div>
</template>

<script setup>
import { RouterView } from "vue-router";
import NavBar from "./components/layout/NavBar.vue";
</script>

<style scoped>
@import "bulma/css/bulma.min.css";
header {
  padding: 25px 25px;
  margin: 5px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px;
}
.main-wrapper {
  padding: 25px;
  /* border: 1px solid #333; */
  border-radius: 10px;
  margin: 15px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
</style>
